*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    padding: 2.5rem 6rem ;
}
.col-4 {
    background-color: beige;
}
.col-8 {
    background-color: rgb(164, 164, 247);
}
