:root {
    /* ### Primary */

--Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);

/* ### Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayishblue: hsl(233, 8%, 79%);
--Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
}
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    padding: 2.5rem 12rem;
}
main{
    position: relative;
}
body{
    font-size: 100%;
    list-style-type: none;
    padding: 2.5rem 2rem ;
}
#first-img {
width: 62rem;
height:23rem ;
padding-bottom: 0;

}
#news {
    width: 25rem;
    height: 38.4rem;
    margin-bottom: 1.5rem;
    background-color: var(--Verydarkblue);
    padding: 1.5rem;
    color: white;
}
#news p {
    color:white;
}
#news h2{
    color: var(--Softorange);
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 0.4rem;
}
#news .p-title {
    font-weight: bold;
    font-size: 1.45rem;
}
#news .semi-title {
    color: var(--Grayishblue);
    font-size: 1.13rem;
    padding-bottom: 1.2rem;
}
hr {
    margin-bottom: 1.8rem;
}

#hold-readmore2 button {
    margin-top: 1rem;
    width: 12rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 0.95rem;
    padding: 0.7rem;
    color: white;
    background-color: var(--Softred);

}
#read-more-box {
    margin-left:20px;
    width: 20rem;
    position: absolute;
    top: 24.5rem;
    height: 10.45rem;
    background-color: white;
    
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
#hold-main {
    width: 115rem;    
    padding: 0rem 13.7rem;
}

#hold-readmore {
    padding: 0rem 13.5rem;
    width: 20rem;
}
#hold-readmore h1 {

    font-size: 4rem;
}

#hold-readmore2 {
    position: absolute;
    width: 29.5rem;
    top: 25.1rem;
    left: 45rem;

}
#hold-readmore2 p {
    font-size: 1.34rem;
}
.attribution {
    margin-top: 6rem;
}
.hold-sml-imgs {
    margin-right: 0;
    padding-right: 0;
    margin-top: 3.5rem;
    margin-right: 6.3rem;
   
 
}
footer .hold-sml-imgs:first-of-type {
    margin-left: 13.8rem;
}
.smaller-images {
    width: 10rem;
    height: 11.8rem;
   margin-right: 1.4rem;
}

.hold-sml-imgs p:first-of-type {

    margin-top: 0rem;
    padding-top: 0rem;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--Grayishblue);
    margin-bottom: 0.3rem;
}
.hold-sml-imgs h3 {
    font-size:  1.5rem;
    font-weight: bold;
}
.hold-subtext {
    width: 14rem;
}
